*#*
*.a
*.o
*~
/.tmp
/barrier
/cas_stresh
/color_buf
/color_buf_memcpy
/mem
/mem_latencies
/memstresh
/mpmap.out
/mpmap.out.cas.numa
/mpmap.out.cas.numa.15Jul
/mpmap.out.cas.numa.17Jul
/mpmap.out.new
/numactl.before.mem.modules
/o
/one2one_atomic
/one2one_int
/one2one_lli
/one2one_manual
/one2one_manual_old_msg_t
/one2one_mem
/one2one_no_m
/one2one_numa
/one2one_recv
/one2one_send
/one2onen1
/one2onenuma
/one2oneo
/one2onep
/recv
/rrrr
/run_nodes
/run_nodes_fixed
/run_on_all_nodes.sh
/run_wcycles.0.1
/run_wcycles.0.12
/run_wcycles.0.18
/run_wcycles.0.42
/run_wcycles.0.6
/run_wcycles.sh
/send
/tail
/test_pref
/ticket_lock
/with_memcpy
barriercolor_*
cscope*
gmon*
main
main_*
mainbig
one2one
one2onebig
oprof*
perf*
